django==4.1.7
argon2-cffi==21.3.0
python-decouple==3.8
dj-database-url==1.2.0
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
markdown==3.4.1
django-filter==22.1
django-cors-headers==3.14.0
timeflake==0.4.2
django-simple-history==3.3.0
whitenoise[brotli]==6.4.0
